// _media-PC --------------------------------

@media (min-width: 1025px) {

    body {
        gap: 10rem;
    }


    .about-area {
        @include default-text (1.2rem, 1.3);
        @include default-h1 (3.5rem);
        @include default-h2 (2.5rem);
        @include default-h3 (3.1rem, 1);


        .about-subcontainer {
            gap: 6rem;

            .about__text {
                justify-content: flex-start;
                height: 500px;
            }
        }
    }

    .resume-area {
        
        .resume__experience {

            &__description {
                width: 470px;
                padding: 10px 50px;
            }
        }
    }


    .skill-area {

        .skill__overview {
            padding: 70px 0;
            width: 90%;
            justify-content: space-evenly;
            // gap: 4.5rem;
        

            .skill__overview-part1 {
                gap: 4rem;
                width: 400px;

                &__html-text span{
                    font-size: 23px;
                }
                &__css-text span{
                    font-size: 23px;
                }
                &__js-text span{
                    font-size: 23px;
                }
                &__c-text span{
                    font-size: 23px;
                }
                &__nodejs-text span{
                    font-size: 23px;
                }
            }


            .skill__overview-part2 {
                gap: 4rem;
                width: 400px;


                &__tailwindcss-text span{
                    font-size: 23px;
                }
                &__git-text span{
                    font-size: 23px;
                }
                &__vscode-text span{
                    font-size: 23px;
                }
                &__adobeprem-text span{
                    font-size: 23px;
                }
                &__mail-text span{
                    font-size: 23px;
                }
            }
        }
    }


    .portfolio-area {
        
        .portfolio-subcontainer {
            height: 1000px;
            align-content: space-evenly;
            justify-content: space-evenly;
            row-gap: 2rem;
            
            .portfolio-1, .portfolio-2, .portfolio-3, .portfolio-4, .portfolio-5, .portfolio-6 {
                width: 291px;
            }
        }
    }

    .contact-area {
        .contact-subcontainer .contact__section-1 .contact__section-1__content .contact__section-1__content-social .icon {
            font-size: 3.5rem;
        }
    }

}

//-------------------------------------------------------

@media (min-width: 1346px) {
    .portfolio-area {

        .portfolio-subcontainer {
            height: 1000px;
            align-content: space-evenly;
            justify-content: space-evenly;
            row-gap: 2rem;
            
            .portfolio-1, .portfolio-2, .portfolio-3, .portfolio-4, .portfolio-5, .portfolio-6 {
                width: 398px;
            }
        }
    }


    .skill-area {

        .skill__overview {
            padding: 70px 0;
            width: 90%;
            justify-content: space-evenly;
            // gap: 4.5rem;
        

            .skill__overview-part1 {
                gap: 4rem;
                width: 500px;

                &__html-text span{
                    font-size: 23px;
                }
                &__css-text span{
                    font-size: 23px;
                }
                &__js-text span{
                    font-size: 23px;
                }
                &__c-text span{
                    font-size: 23px;
                }
                &__nodejs-text span{
                    font-size: 23px;
                }
            }


            .skill__overview-part2 {
                gap: 4rem;
                width: 500px;


                &__tailwindcss-text span{
                    font-size: 23px;
                }
                &__git-text span{
                    font-size: 23px;
                }
                &__vscode-text span{
                    font-size: 23px;
                }
                &__adobeprem-text span{
                    font-size: 23px;
                }
                &__mail-text span{
                    font-size: 23px;
                }
            }
        }
    }


    .contact-subcontainer .contact__section-1 .contact__section-1__content .contact__section-1__content-social .icon {
        font-size: 4rem;
    }
}