.skill-area {
    width: 100%;
    padding: 10px;
    margin: auto;
}


.skill-container {
    // width: 90%;
    border-radius: 20px;
    margin: 0 auto;
    background-color: $dark-secondary-color;
    border: 3px solid lightgreen;
}


.skill__overview {
    // @extend %flex-column;      // _extend SECTION 1 ----------------------------
    gap: 1rem;

    display: flex;
    flex-wrap: wrap;



    &-part1 {
        @extend %flex-column;      // _extend SECTION 1 ----------------------------
        gap: 1rem;
        width: 100%;
        

        // html PROGRESS ------------------------
        &__html {
            @extend %flex-column;   // _extend SECTION 1 ----------------------------
            @include border-card;   // _mixins SECTION 4 ----------------------------
            border: 1px solid;

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: html-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#ff3c00, coral);     // _mixins SECTION  1 ----------------------------
                        animation: html-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // css PROGRESS ------------------------
        &__css {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------
            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: css-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#358ae0, #87ceeb);   // _mixins SECTION  1 
                        animation: css-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // js PROGRESS ------------------------
        &__js {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------
            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: js-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#f8c201, yellow);   // _mixins SECTION  1 
                        animation: js-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // c PROGRESS ------------------------
        &__c {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: c-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#002080, #0066ff);   // _mixins SECTION  1 
                        animation: c-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // nodejs PROGRESS ------------------------
        &__nodejs {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------
            @include border-card;   // _mixins SECTION 4 ----------------------------

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: nodejs-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#009933, #003300);   // _mixins SECTION  1 
                        animation: nodejs-span 10s ease-in 1s infinite;
                    }
                }
            }
        }
    }
    

    &-part2 {
        @extend %flex-column;      // _extend SECTION 1 ----------------------------
        gap: 1rem;
        width: 100%;

        // tailwindcss PROGRESS ------------------------
        &__tailwindcss {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: tailwindcss-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#009999, #00ffcc);   // _mixins SECTION  1 
                        animation: tailwindcss-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // git PROGRESS ------------------------
        &__git {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: git-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#751aff, #3333cc);   // _mixins SECTION  1 
                        animation: git-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // vscode PROGRESS ------------------------
        &__vscode {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: vscode-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#002db3, #1a53ff);   // _mixins SECTION  1 
                        animation: vscode-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // adobeprem PROGRESS ------------------------
        &__adobeprem {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: adobeprem-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#000066, #1a1aff);   // _mixins SECTION  1 
                        animation: adobeprem-span 10s ease-in 1s infinite;
                    }
                }
            }
        }


        // mail PROGRESS ------------------------
        &__mail {
            @extend %flex-column;   // _extend SECTION  1 ----------------------------
            border: 1px solid white;
            @include border-card;   // _mixins SECTION 4 ----------------------------

            
            &-text {
                @extend %skill-overview-text;   // _extend SECTION  2 ----------------------------
            }

            &-progress {
                padding: 5px 0 20px;
            

                &-bar {
                    @extend %progress-bar1;     // _extend SECTION  3 ----------------------------
                

                    &2 {
                        @extend %progress-bar2;     // _extend SECTION  3 ----------------------------
                        animation: mail-bar 10s ease-in 1s infinite;
                    }


                    &-span {
                        @extend %progress-bar-span;     // _extend SECTION  3 ----------------------------
                        @include span-bar (#0033cc, #00b8e6);   // _mixins SECTION  1 
                        animation: mail-span 10s ease-in 1s infinite;
                    }
                }
            }
        }
        }
}


// HTML KEYFRAMES ----------------------------------
@keyframes html-bar {
    0% {width: 0%; background-color: coral;}
    5% {width: 0%; background-color: coral;}
    10% {width: 90%; background-color: coral;}
    100% {width: 90%; background-color: coral;}
}

@keyframes html-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 90%; }
    100% {left: 90%; }
}


// CSS KEYFRAMES ----------------------------------
@keyframes css-bar {
    0% {width: 0%; background-color: #87ceeb;}
    5% {width: 0%; background-color: #87ceeb;}
    10% {width: 85%; background-color: #87ceeb;}
    100% {width: 85%; background-color: #87b6eb;}
}

@keyframes css-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 85%; }
    100% {left: 85%; }
}


// JS KEYFRAMES ----------------------------------
@keyframes js-bar {
    0% {width: 0%; background-color: yellow;}
    5% {width: 0%; background-color: yellow;}
    10% {width: 20%; background-color: yellow;}
    100% {width: 20%; background-color: yellow;}
}

@keyframes js-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 20%; }
    100% {left: 20%; }
}


// c KEYFRAMES ----------------------------------
@keyframes c-bar {
    0% {width: 0%; background-color: #005c99;}
    5% {width: 0%; background-color: #005c99;}
    10% {width: 50%; background-color: #005c99;}
    100% {width: 50%; background-color: #005c99;}
}

@keyframes c-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 50%; }
    100% {left: 50%; }
}


// nodejs KEYFRAMES ----------------------------------
@keyframes nodejs-bar {
    0% {width: 0%; background-color: #285028;}
    5% {width: 0%; background-color: #285028;}
    10% {width: 10%; background-color: #285028;}
    100% {width: 10%; background-color: #285028;}
}

@keyframes nodejs-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 10%; }
    100% {left: 10%; }
}


// tailwindcss KEYFRAMES ----------------------------------
@keyframes tailwindcss-bar {
    0% {width: 0%; background-color: #00ff99;}
    5% {width: 0%; background-color: #00ff99;}
    10% {width: 40%; background-color: #00ff99;}
    100% {width: 40%; background-color: #00ff99;}
}

@keyframes tailwindcss-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 40%; }
    100% {left: 40%; }
}


// git KEYFRAMES ----------------------------------
@keyframes git-bar {
    0% {width: 0%; background-color: #9933ff;}
    5% {width: 0%; background-color: #9933ff;}
    10% {width: 80%; background-color: #9933ff;}
    100% {width: 80%; background-color: #9933ff;}
}

@keyframes git-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 80%; }
    100% {left: 80%; }
}


// vscode KEYFRAMES ----------------------------------
@keyframes vscode-bar {
    0% {width: 0%; background-color: #0066cc;}
    5% {width: 0%; background-color: #0066cc;}
    10% {width: 85%; background-color: #0066cc;}
    100% {width: 85%; background-color: #0066cc;}
}

@keyframes vscode-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 85%; }
    100% {left: 85%; }
}



// adobeprem KEYFRAMES ----------------------------------
@keyframes adobeprem-bar {
    0% {width: 0%; background-color: #0000ff;}
    5% {width: 0%; background-color: #0000ff;}
    10% {width: 40%; background-color: #0000ff;}
    100% {width: 40%; background-color: #0000ff;}
}

@keyframes adobeprem-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 40%; }
    100% {left: 40%; }
}


// mail KEYFRAMES ----------------------------------
@keyframes mail-bar {
    0% {width: 0%; background-color: #00ccff;}
    5% {width: 0%; background-color: #00ccff;}
    10% {width: 94%; background-color: #00ccff;}
    100% {width: 94%; background-color: #00ccff;}
}

@keyframes mail-span {
    0% {left: 0%; }
    5% {left: 0%; }
    10% {left: 94%; }
    100% {left: 94%; }
}