.contact-container .contact-subcontainer .contact__section-2__content-box1, .contact-container .contact-subcontainer .contact__section-2__content-box, .contact-container .contact-subcontainer .contact__section-1__content, .skill__overview-part2__mail, .skill__overview-part2__adobeprem, .skill__overview-part2__vscode, .skill__overview-part2__git, .skill__overview-part2__tailwindcss, .skill__overview-part2, .skill__overview-part1__nodejs, .skill__overview-part1__c, .skill__overview-part1__js, .skill__overview-part1__css, .skill__overview-part1__html, .skill__overview-part1, .skill__overview, .resume-container .resume__education__description, .about-container .about-subcontainer .about__text, .header, body {
  display: flex;
  flex-direction: column;
}

.skill__overview-part2__mail-text, .skill__overview-part2__adobeprem-text, .skill__overview-part2__vscode-text, .skill__overview-part2__git-text, .skill__overview-part2__tailwindcss-text, .skill__overview-part1__nodejs-text, .skill__overview-part1__c-text, .skill__overview-part1__js-text, .skill__overview-part1__css-text, .skill__overview-part1__html-text {
  display: flex;
  justify-content: space-around;
  align-items: last baseline;
}
.skill__overview-part2__mail-text p, .skill__overview-part2__adobeprem-text p, .skill__overview-part2__vscode-text p, .skill__overview-part2__git-text p, .skill__overview-part2__tailwindcss-text p, .skill__overview-part1__nodejs-text p, .skill__overview-part1__c-text p, .skill__overview-part1__js-text p, .skill__overview-part1__css-text p, .skill__overview-part1__html-text p {
  display: inline-block;
  margin: 0;
  padding: 10px;
  font-weight: bold;
}
.skill__overview-part2__mail-text span, .skill__overview-part2__adobeprem-text span, .skill__overview-part2__vscode-text span, .skill__overview-part2__git-text span, .skill__overview-part2__tailwindcss-text span, .skill__overview-part1__nodejs-text span, .skill__overview-part1__c-text span, .skill__overview-part1__js-text span, .skill__overview-part1__css-text span, .skill__overview-part1__html-text span {
  padding: 10px;
  font-size: large;
  font-weight: 600;
}

.skill__overview-part2__mail-progress-bar, .skill__overview-part2__adobeprem-progress-bar, .skill__overview-part2__vscode-progress-bar, .skill__overview-part2__git-progress-bar, .skill__overview-part2__tailwindcss-progress-bar, .skill__overview-part1__nodejs-progress-bar, .skill__overview-part1__c-progress-bar, .skill__overview-part1__js-progress-bar, .skill__overview-part1__css-progress-bar, .skill__overview-part1__html-progress-bar {
  width: 95%;
  height: 10px;
  background-color: #c1ecf0;
  margin: 0 auto;
}

.skill__overview-part2__mail-progress-bar2, .skill__overview-part2__adobeprem-progress-bar2, .skill__overview-part2__vscode-progress-bar2, .skill__overview-part2__git-progress-bar2, .skill__overview-part2__tailwindcss-progress-bar2, .skill__overview-part1__nodejs-progress-bar2, .skill__overview-part1__c-progress-bar2, .skill__overview-part1__js-progress-bar2, .skill__overview-part1__css-progress-bar2, .skill__overview-part1__html-progress-bar2 {
  width: 100%;
  height: 10px;
  background-color: #c1ecf0;
}

.skill__overview-part2__mail-progress-bar-span, .skill__overview-part2__adobeprem-progress-bar-span, .skill__overview-part2__vscode-progress-bar-span, .skill__overview-part2__git-progress-bar-span, .skill__overview-part2__tailwindcss-progress-bar-span, .skill__overview-part1__nodejs-progress-bar-span, .skill__overview-part1__c-progress-bar-span, .skill__overview-part1__js-progress-bar-span, .skill__overview-part1__css-progress-bar-span, .skill__overview-part1__html-progress-bar-span {
  padding: 5px;
  position: relative;
  top: -14px;
}

* {
  box-sizing: border-box;
}

body {
  gap: 5rem;
  background-color: #4d4d4d;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
body p {
  font-size: 1.1rem;
  line-height: 1.5;
  word-spacing: 0.1rem;
}
body h1 {
  font-size: 2.5rem;
  line-height: 1;
  word-spacing: 1rem;
}

legend {
  margin: 0 auto;
}

.header {
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
  border-radius: 0px 0px 10px 10px;
  background-color: #262626;
  padding: 0;
  margin: 0;
  height: 150px;
}
.header__logo {
  width: -moz-fit-content;
  width: fit-content;
}
.header__logo img {
  border-radius: 50%;
  margin: 20px 0 0 0;
}
.header__logo img:hover {
  cursor: pointer;
}
.header__navbar {
  padding: 0;
}
.header__navbar__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: space-evenly;
  padding: 0;
}
.header__navbar__list a {
  padding: 0 7px;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}
.header__navbar__list a:hover {
  text-decoration: underline;
}

.about-area {
  padding: 10px;
  margin: auto;
}

.about-container {
  background-color: #333333;
  border: 3px solid lightcoral;
  border-radius: 20px;
}
.about-container legend {
  margin: 0 auto;
}
.about-container .about-subcontainer {
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.about-container .about-subcontainer .about__image {
  margin: 0 auto;
}
.about-container .about-subcontainer .about__image h2 {
  text-align: center;
  color: lightgreen;
}
.about-container .about-subcontainer .about__image img {
  border-radius: 50%;
}
.about-container .about-subcontainer .about__text h3 h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  word-spacing: 0;
}
.about-container .about-subcontainer .about__text p {
  text-align: justify;
}
.about-container .about-subcontainer .about__text h3 {
  color: lightseagreen;
  text-align: center;
}
.about-container .about-subcontainer .about__text h3 h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  word-spacing: 0;
}

.resume-area {
  padding: 10px;
  margin: auto;
  text-align: center;
}
.resume-area img {
  border-radius: 20px;
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  background-color: #333333;
  border: 3px solid #add8e6;
  border-radius: 20px;
  padding: 20px 10px 50px;
}
.resume-container .resume__experience {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #262626;
  border: 2px solid #4ebce1;
  border-radius: 10px;
  padding: 20px 10px 40px;
  margin: 0 auto;
}
.resume-container .resume__experience__description {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  padding: 20px;
}
.resume-container .resume__experience__description h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  word-spacing: 0;
}
.resume-container .resume__experience__description p:last-child {
  text-align: justify;
}
.resume-container .resume__experience__description h3 {
  color: tomato;
  text-decoration: underline;
}
.resume-container .resume__education {
  background-color: #262626;
  border: 2px solid #67f6ea;
  border-radius: 10px;
  padding: 20px 10px 40px;
  margin: 0 auto;
}
.resume-container .resume__education__description {
  line-height: 0;
  gap: 3rem;
  margin: 0 auto;
}
.resume-container .resume__education__description h3 {
  font-size: 1.3rem;
  line-height: 1.5;
  word-spacing: 0;
}
.resume-container .resume__education__description h3 {
  color: tomato;
  text-decoration: underline;
}
.resume-container .resume__education__description .resume__education-pp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.resume-container .resume__education__description .resume__education-pp .resume__education1 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.resume-container .resume__education__description .resume__education-pp .resume__education2 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}

.skill-area {
  width: 100%;
  padding: 10px;
  margin: auto;
}

.skill-container {
  border-radius: 20px;
  margin: 0 auto;
  background-color: #333333;
  border: 3px solid lightgreen;
}

.skill__overview {
  gap: 1rem;
}
.skill__overview-part1 {
  gap: 1rem;
}
.skill__overview-part1__html {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  border: 1px solid;
}
.skill__overview-part1__html-progress {
  padding: 5px 0 20px;
}
.skill__overview-part1__html-progress-bar2 {
  animation: html-bar 10s ease-in 1s infinite;
}
.skill__overview-part1__html-progress-bar-span {
  background-color: #ff3c00;
  border: 1px solid coral;
  animation: html-span 10s ease-in 1s infinite;
}
.skill__overview-part1__css {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part1__css-progress {
  padding: 5px 0 20px;
}
.skill__overview-part1__css-progress-bar2 {
  animation: css-bar 10s ease-in 1s infinite;
}
.skill__overview-part1__css-progress-bar-span {
  background-color: #358ae0;
  border: 1px solid #87ceeb;
  animation: css-span 10s ease-in 1s infinite;
}
.skill__overview-part1__js {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part1__js-progress {
  padding: 5px 0 20px;
}
.skill__overview-part1__js-progress-bar2 {
  animation: js-bar 10s ease-in 1s infinite;
}
.skill__overview-part1__js-progress-bar-span {
  background-color: #f8c201;
  border: 1px solid yellow;
  animation: js-span 10s ease-in 1s infinite;
}
.skill__overview-part1__c {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part1__c-progress {
  padding: 5px 0 20px;
}
.skill__overview-part1__c-progress-bar2 {
  animation: c-bar 10s ease-in 1s infinite;
}
.skill__overview-part1__c-progress-bar-span {
  background-color: #002080;
  border: 1px solid #0066ff;
  animation: c-span 10s ease-in 1s infinite;
}
.skill__overview-part1__nodejs {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part1__nodejs-progress {
  padding: 5px 0 20px;
}
.skill__overview-part1__nodejs-progress-bar2 {
  animation: nodejs-bar 10s ease-in 1s infinite;
}
.skill__overview-part1__nodejs-progress-bar-span {
  background-color: #009933;
  border: 1px solid #003300;
  animation: nodejs-span 10s ease-in 1s infinite;
}
.skill__overview-part2 {
  gap: 1rem;
}
.skill__overview-part2__tailwindcss {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part2__tailwindcss-progress {
  padding: 5px 0 20px;
}
.skill__overview-part2__tailwindcss-progress-bar2 {
  animation: tailwindcss-bar 10s ease-in 1s infinite;
}
.skill__overview-part2__tailwindcss-progress-bar-span {
  background-color: #009999;
  border: 1px solid #00ffcc;
  animation: tailwindcss-span 10s ease-in 1s infinite;
}
.skill__overview-part2__git {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part2__git-progress {
  padding: 5px 0 20px;
}
.skill__overview-part2__git-progress-bar2 {
  animation: git-bar 10s ease-in 1s infinite;
}
.skill__overview-part2__git-progress-bar-span {
  background-color: #751aff;
  border: 1px solid #3333cc;
  animation: git-span 10s ease-in 1s infinite;
}
.skill__overview-part2__vscode {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part2__vscode-progress {
  padding: 5px 0 20px;
}
.skill__overview-part2__vscode-progress-bar2 {
  animation: vscode-bar 10s ease-in 1s infinite;
}
.skill__overview-part2__vscode-progress-bar-span {
  background-color: #002db3;
  border: 1px solid #1a53ff;
  animation: vscode-span 10s ease-in 1s infinite;
}
.skill__overview-part2__adobeprem {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part2__adobeprem-progress {
  padding: 5px 0 20px;
}
.skill__overview-part2__adobeprem-progress-bar2 {
  animation: adobeprem-bar 10s ease-in 1s infinite;
}
.skill__overview-part2__adobeprem-progress-bar-span {
  background-color: #000066;
  border: 1px solid #1a1aff;
  animation: adobeprem-span 10s ease-in 1s infinite;
}
.skill__overview-part2__mail {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
}
.skill__overview-part2__mail-progress {
  padding: 5px 0 20px;
}
.skill__overview-part2__mail-progress-bar2 {
  animation: mail-bar 10s ease-in 1s infinite;
}
.skill__overview-part2__mail-progress-bar-span {
  background-color: #0033cc;
  border: 1px solid #00b8e6;
  animation: mail-span 10s ease-in 1s infinite;
}

@keyframes html-bar {
  0% {
    width: 0%;
    background-color: coral;
  }
  5% {
    width: 0%;
    background-color: coral;
  }
  10% {
    width: 90%;
    background-color: coral;
  }
  100% {
    width: 90%;
    background-color: coral;
  }
}
@keyframes html-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 90%;
  }
  100% {
    left: 90%;
  }
}
@keyframes css-bar {
  0% {
    width: 0%;
    background-color: #87ceeb;
  }
  5% {
    width: 0%;
    background-color: #87ceeb;
  }
  10% {
    width: 85%;
    background-color: #87ceeb;
  }
  100% {
    width: 85%;
    background-color: #87b6eb;
  }
}
@keyframes css-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 85%;
  }
  100% {
    left: 85%;
  }
}
@keyframes js-bar {
  0% {
    width: 0%;
    background-color: yellow;
  }
  5% {
    width: 0%;
    background-color: yellow;
  }
  10% {
    width: 20%;
    background-color: yellow;
  }
  100% {
    width: 20%;
    background-color: yellow;
  }
}
@keyframes js-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 20%;
  }
  100% {
    left: 20%;
  }
}
@keyframes c-bar {
  0% {
    width: 0%;
    background-color: #005c99;
  }
  5% {
    width: 0%;
    background-color: #005c99;
  }
  10% {
    width: 50%;
    background-color: #005c99;
  }
  100% {
    width: 50%;
    background-color: #005c99;
  }
}
@keyframes c-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}
@keyframes nodejs-bar {
  0% {
    width: 0%;
    background-color: #285028;
  }
  5% {
    width: 0%;
    background-color: #285028;
  }
  10% {
    width: 10%;
    background-color: #285028;
  }
  100% {
    width: 10%;
    background-color: #285028;
  }
}
@keyframes nodejs-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 10%;
  }
  100% {
    left: 10%;
  }
}
@keyframes tailwindcss-bar {
  0% {
    width: 0%;
    background-color: #00ff99;
  }
  5% {
    width: 0%;
    background-color: #00ff99;
  }
  10% {
    width: 40%;
    background-color: #00ff99;
  }
  100% {
    width: 40%;
    background-color: #00ff99;
  }
}
@keyframes tailwindcss-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 40%;
  }
  100% {
    left: 40%;
  }
}
@keyframes git-bar {
  0% {
    width: 0%;
    background-color: #9933ff;
  }
  5% {
    width: 0%;
    background-color: #9933ff;
  }
  10% {
    width: 80%;
    background-color: #9933ff;
  }
  100% {
    width: 80%;
    background-color: #9933ff;
  }
}
@keyframes git-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 80%;
  }
  100% {
    left: 80%;
  }
}
@keyframes vscode-bar {
  0% {
    width: 0%;
    background-color: #0066cc;
  }
  5% {
    width: 0%;
    background-color: #0066cc;
  }
  10% {
    width: 85%;
    background-color: #0066cc;
  }
  100% {
    width: 85%;
    background-color: #0066cc;
  }
}
@keyframes vscode-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 85%;
  }
  100% {
    left: 85%;
  }
}
@keyframes adobeprem-bar {
  0% {
    width: 0%;
    background-color: #0000ff;
  }
  5% {
    width: 0%;
    background-color: #0000ff;
  }
  10% {
    width: 40%;
    background-color: #0000ff;
  }
  100% {
    width: 40%;
    background-color: #0000ff;
  }
}
@keyframes adobeprem-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 40%;
  }
  100% {
    left: 40%;
  }
}
@keyframes mail-bar {
  0% {
    width: 0%;
    background-color: #00ccff;
  }
  5% {
    width: 0%;
    background-color: #00ccff;
  }
  10% {
    width: 94%;
    background-color: #00ccff;
  }
  100% {
    width: 94%;
    background-color: #00ccff;
  }
}
@keyframes mail-span {
  0% {
    left: 0%;
  }
  5% {
    left: 0%;
  }
  10% {
    left: 94%;
  }
  100% {
    left: 94%;
  }
}
.portfolio-area {
  padding: 10px;
  margin: auto;
}
.portfolio-area img {
  border-radius: 10px;
}

.portfolio-container {
  padding: 20px;
  background-color: #333333;
  border: 3px solid orange;
  border-radius: 20px;
  margin: 0 auto;
}
.portfolio-container .portfolio-subcontainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.portfolio-container .portfolio-subcontainer .portfolio-1 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  padding: 15px;
  border-radius: 20px;
}
.portfolio-container .portfolio-subcontainer .portfolio-1:hover {
  cursor: pointer;
  animation: card-hover 0.1s linear alternate forwards;
}
@keyframes card-hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.portfolio-container .portfolio-subcontainer .portfolio-1__text p:first-child {
  font-size: 1.65rem;
  font-weight: bold;
}
.portfolio-container .portfolio-subcontainer .portfolio-1 a {
  text-decoration: none;
  color: red;
}
.portfolio-container .portfolio-subcontainer .portfolio-1 a:hover {
  box-shadow: 2px 2px 30px rgba(255, 0, 0, 0.334), -2px 2px 30px rgba(255, 0, 0, 0.334), 2px -2px 30px rgba(255, 0, 0, 0.334), -2px -2px 30px rgba(255, 0, 0, 0.334);
  background-color: rgba(255, 0, 0, 0.334);
}
.portfolio-container .portfolio-subcontainer .portfolio-2 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  padding: 15px;
  border-radius: 20px;
}
.portfolio-container .portfolio-subcontainer .portfolio-2:hover {
  cursor: pointer;
  animation: card-hover 0.1s linear alternate forwards;
}
@keyframes card-hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.portfolio-container .portfolio-subcontainer .portfolio-2__text p:first-child {
  font-size: 1.65rem;
  font-weight: bold;
}
.portfolio-container .portfolio-subcontainer .portfolio-2 a {
  text-decoration: none;
  color: red;
}
.portfolio-container .portfolio-subcontainer .portfolio-2 a:hover {
  box-shadow: 2px 2px 30px rgba(255, 0, 0, 0.334), -2px 2px 30px rgba(255, 0, 0, 0.334), 2px -2px 30px rgba(255, 0, 0, 0.334), -2px -2px 30px rgba(255, 0, 0, 0.334);
  background-color: rgba(255, 0, 0, 0.334);
}
.portfolio-container .portfolio-subcontainer .portfolio-3 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  padding: 15px;
  border-radius: 20px;
}
.portfolio-container .portfolio-subcontainer .portfolio-3:hover {
  cursor: pointer;
  animation: card-hover 0.1s linear alternate forwards;
}
@keyframes card-hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.portfolio-container .portfolio-subcontainer .portfolio-3__text p:first-child {
  font-size: 1.65rem;
  font-weight: bold;
}
.portfolio-container .portfolio-subcontainer .portfolio-3 a {
  text-decoration: none;
  color: red;
}
.portfolio-container .portfolio-subcontainer .portfolio-3 a:hover {
  box-shadow: 2px 2px 30px rgba(255, 0, 0, 0.334), -2px 2px 30px rgba(255, 0, 0, 0.334), 2px -2px 30px rgba(255, 0, 0, 0.334), -2px -2px 30px rgba(255, 0, 0, 0.334);
  background-color: rgba(255, 0, 0, 0.334);
}
.portfolio-container .portfolio-subcontainer .portfolio-4 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  padding: 15px;
  border-radius: 20px;
}
.portfolio-container .portfolio-subcontainer .portfolio-4:hover {
  cursor: pointer;
  animation: card-hover 0.1s linear alternate forwards;
}
@keyframes card-hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.portfolio-container .portfolio-subcontainer .portfolio-4__text p:first-child {
  font-size: 1.65rem;
  font-weight: bold;
}
.portfolio-container .portfolio-subcontainer .portfolio-4 a {
  text-decoration: none;
  color: red;
}
.portfolio-container .portfolio-subcontainer .portfolio-4 a:hover {
  box-shadow: 2px 2px 30px rgba(255, 0, 0, 0.334), -2px 2px 30px rgba(255, 0, 0, 0.334), 2px -2px 30px rgba(255, 0, 0, 0.334), -2px -2px 30px rgba(255, 0, 0, 0.334);
  background-color: rgba(255, 0, 0, 0.334);
}
.portfolio-container .portfolio-subcontainer .portfolio-5 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  padding: 15px;
  border-radius: 20px;
}
.portfolio-container .portfolio-subcontainer .portfolio-5:hover {
  cursor: pointer;
  animation: card-hover 0.1s linear alternate forwards;
}
@keyframes card-hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.portfolio-container .portfolio-subcontainer .portfolio-5__text p:first-child {
  font-size: 1.65rem;
  font-weight: bold;
}
.portfolio-container .portfolio-subcontainer .portfolio-5 a {
  text-decoration: none;
  color: red;
}
.portfolio-container .portfolio-subcontainer .portfolio-5 a:hover {
  box-shadow: 2px 2px 30px rgba(255, 0, 0, 0.334), -2px 2px 30px rgba(255, 0, 0, 0.334), 2px -2px 30px rgba(255, 0, 0, 0.334), -2px -2px 30px rgba(255, 0, 0, 0.334);
  background-color: rgba(255, 0, 0, 0.334);
}
.portfolio-container .portfolio-subcontainer .portfolio-6 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  padding: 15px;
  border-radius: 20px;
}
.portfolio-container .portfolio-subcontainer .portfolio-6:hover {
  cursor: pointer;
  animation: card-hover 0.1s linear alternate forwards;
}
@keyframes card-hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.portfolio-container .portfolio-subcontainer .portfolio-6__text p:first-child {
  font-size: 1.65rem;
  font-weight: bold;
}
.portfolio-container .portfolio-subcontainer .portfolio-6 a {
  text-decoration: none;
  color: red;
}
.portfolio-container .portfolio-subcontainer .portfolio-6 a:hover {
  box-shadow: 2px 2px 30px rgba(255, 0, 0, 0.334), -2px 2px 30px rgba(255, 0, 0, 0.334), 2px -2px 30px rgba(255, 0, 0, 0.334), -2px -2px 30px rgba(255, 0, 0, 0.334);
  background-color: rgba(255, 0, 0, 0.334);
}

.contact-area {
  padding: 10px;
  margin: auto;
  width: 100%;
}

.contact-container {
  background-color: #333333;
  border: 3px solid lightpink;
  border-radius: 20px;
}
.contact-container .contact-subcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  padding: 20px;
}
.contact-container .contact-subcontainer .contact__section-1 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  width: 100%;
  padding: 0px 0px 40px 0px;
  background-color: #0f0f0f;
}
.contact-container .contact-subcontainer .contact__section-1__content {
  gap: 2rem;
}
.contact-container .contact-subcontainer .contact__section-1__content-text p {
  text-align: center;
}
.contact-container .contact-subcontainer .contact__section-1__content p:not(:nth-child(2)):hover {
  text-decoration: underline;
  cursor: pointer;
}
.contact-container .contact-subcontainer .contact__section-1__content-social {
  display: flex;
  justify-content: space-evenly;
}
.contact-container .contact-subcontainer .contact__section-1__content-social .icon {
  font-size: 1.5rem;
}
.contact-container .contact-subcontainer .contact__section-1__content-social .icon:nth-child(1):hover {
  cursor: pointer;
  color: #1877F2;
}
.contact-container .contact-subcontainer .contact__section-1__content-social .icon:nth-child(2):hover {
  cursor: pointer;
  color: #cd486b;
}
.contact-container .contact-subcontainer .contact__section-1__content-social .icon:nth-child(3):hover {
  cursor: pointer;
  color: #0077B5;
}
.contact-container .contact-subcontainer .contact__section-1__content-social .icon:nth-child(4):hover {
  cursor: pointer;
  color: #FF0000;
}
.contact-container .contact-subcontainer .contact__section-1__content-social .icon:nth-child(5):hover {
  cursor: pointer;
  color: #25D366;
}
.contact-container .contact-subcontainer .contact__section-1__content-social .icon:nth-child(6):hover {
  cursor: pointer;
  color: #1DA1F2;
}
.contact-container .contact-subcontainer .contact__section-2 {
  border-radius: 20px;
  box-shadow: -5px 5px 7px darkgrey;
  background-color: #0f0f0f;
  padding: 10px;
  width: 100%;
  padding-bottom: 40px;
  background-color: #0f0f0f;
}
.contact-container .contact-subcontainer .contact__section-2__content {
  text-align: center;
}
.contact-container .contact-subcontainer .contact__section-2__content-box {
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.contact-container .contact-subcontainer .contact__section-2__content-box1 {
  width: inherit;
  align-items: center;
  gap: 1rem;
}
.contact-container .contact-subcontainer .contact__section-2__content-box1 input {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 1.1rem;
}
.contact-container .contact-subcontainer .contact__section-2__content-box2 {
  display: flex;
  justify-content: center;
  width: inherit;
  height: 200px;
}
.contact-container .contact-subcontainer .contact__section-2__content-box2 input {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 1.1rem;
  height: 200px;
}
.contact-container .contact-subcontainer .contact__section-3 {
  width: 100%;
  border: 1px solid white;
}

footer {
  border-top: 1px solid gray;
  margin-top: 10px;
}
footer h4 {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  color: #f0f0f0;
}

@media (min-width: 426px) {
  body p {
    font-size: 1.3rem;
    line-height: 1.6;
    word-spacing: 0.1rem;
  }
  body h1 {
    font-size: 3rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  body h2 {
    font-size: 2.2rem;
    line-height: 1;
    word-spacing: 0;
  }
  body h3 {
    font-size: 3.7rem;
    line-height: 1;
    word-spacing: 0;
  }
  .header__navbar {
    width: 100%;
  }
  .header__navbar a {
    font-size: 1.2rem;
  }
  .resume-container {
    padding: 60px 20px 70px;
  }
  .resume__experience {
    justify-content: center;
  }
  .resume-area .resume__experience__description {
    padding: 40px;
  }
  .resume-container > .resume__experience, .resume-container > .resume__education {
    padding: 40px 20px;
  }
  .resume-area .resume__education-pp {
    width: 90%;
  }
  .portfolio-container > .portfolio-subcontainer {
    gap: 10rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-1 {
    padding: 25px;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-1 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-2 {
    padding: 25px;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-2 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-3 {
    padding: 25px;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-3 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-4 {
    padding: 25px;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-4 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-5 {
    padding: 25px;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-5 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-6 {
    padding: 25px;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-6 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer div {
    padding: 5px;
  }
  .skill__overview {
    width: 85%;
    margin: 0 auto;
    gap: 2rem;
    padding-bottom: 25px;
  }
  .skill__overview-part1, .skill__overview-part2 {
    gap: 2rem;
  }
  .skill-area .skill__overview__html-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__css-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__js-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__c-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__nodejs-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__tailwindcss-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__git-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__vscode-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__adobeprem-text span {
    font-size: 20px;
  }
  .skill-area .skill__overview__mail-text span {
    font-size: 20px;
  }
  .contact-subcontainer .contact__section-1 .contact__section-1__content .contact__section-1__content-social .icon {
    font-size: 3rem;
  }
  .contact-container .contact-subcontainer .contact__section-2 .contact__section-2__content-box {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  body {
    gap: 10rem;
  }
  body img {
    max-width: 850px;
    margin: auto;
  }
  .header {
    height: 250px;
  }
  .header__logo {
    display: flex;
    height: 125px;
  }
  .header__logo img {
    margin: auto 0;
    width: 100px;
  }
  .header .header__navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 125px;
    align-items: center;
  }
  .header .header__navbar__list {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .header .header__navbar a {
    font-size: 1.5rem;
  }
  .about-area {
    width: 100%;
  }
  .about-area p {
    font-size: 1.1rem;
    line-height: 1.3;
    word-spacing: 0.1rem;
  }
  .about-area h1 {
    font-size: 3.5rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .about-area h2 {
    font-size: 2.5rem;
    line-height: 1;
    word-spacing: 0;
  }
  .about-area h3 {
    font-size: 3rem;
    line-height: 1;
    word-spacing: 0;
  }
  .about-area .about-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .about-area .about-subcontainer {
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  .about-area .about-subcontainer .about__image {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    flex-grow: 1;
  }
  .about-area .about-subcontainer .about__text {
    width: 200px;
    flex-grow: 1;
  }
  .about-area .about-subcontainer .about__text h3 {
    text-align: left;
  }
  .resume-area .resume-container p {
    font-size: 1.4rem;
    line-height: 1.3;
    word-spacing: 0.1rem;
  }
  .resume-area .resume-container h1 {
    font-size: 4rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .resume-area .resume-container h2 {
    font-size: 2.5rem;
    line-height: 1;
    word-spacing: 0;
  }
  .resume-area .resume-container h3 {
    font-size: 3rem;
    line-height: 1;
    word-spacing: 0;
  }
  .resume-area .resume-container h3 {
    font-size: 2.21rem;
  }
  .resume-area {
    width: 100%;
  }
  .resume-container {
    gap: 7rem;
  }
  .resume-container .resume__experience {
    max-width: 950px;
    justify-content: center;
  }
  .resume-container .resume__experience__image {
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .resume-container .resume__experience__description {
    width: 370px;
    padding: 10px 50px;
  }
  .resume-area .resume__education {
    max-width: 950px;
    align-items: center;
  }
  .resume-area .resume__education__image {
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .resume-area .resume__education-pp {
    display: flex;
  }
  .resume-area .resume__education-pp h3 {
    font-size: 20px;
  }
  .resume-area .resume__education-pp p {
    font-size: 20px;
  }
  .resume-area .resume__education-pp .resume__education1 {
    width: 46%;
    padding: 0;
  }
  .resume-area .resume__education-pp .resume__education2 {
    width: 46%;
    padding: 0;
  }
  .skill-area .skill__overview__html-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__css-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__js-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__c-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__nodejs-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__tailwindcss-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__git-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__vscode-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__adobeprem-text span {
    font-size: 25px;
  }
  .skill-area .skill__overview__mail-text span {
    font-size: 25px;
  }
  .skill-area .skill-container {
    width: 80%;
  }
  .skill-area .skill__overview {
    padding: 70px 0;
    width: 70%;
    gap: 4rem;
  }
  .portfolio-area .portfolio-subcontainer {
    height: 1500px;
    align-content: space-evenly;
    justify-content: space-evenly;
    row-gap: 2rem;
  }
  .portfolio-area .portfolio-1, .portfolio-area .portfolio-2, .portfolio-area .portfolio-3, .portfolio-area .portfolio-4, .portfolio-area .portfolio-5, .portfolio-area .portfolio-6 {
    width: 325px;
  }
  .portfolio-container > .portfolio-subcontainer {
    gap: 2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-1 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-2 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-3 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-4 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-5 p:first-child {
    font-size: 2.2rem;
  }
  .portfolio-container > .portfolio-subcontainer > .portfolio-6 p:first-child {
    font-size: 2.2rem;
  }
  .contact-area p {
    font-size: 1.4rem;
    line-height: 1.3;
    word-spacing: 0.1rem;
  }
  .contact-area h1 {
    font-size: 3.5rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .contact-area h2 {
    font-size: 2.5rem;
    line-height: 1;
    word-spacing: 0;
  }
  .contact-area h3 {
    font-size: 3rem;
    line-height: 1;
    word-spacing: 0;
  }
  .contact-area .contact-container {
    background-color: #0f0f0f;
  }
  .contact-area .contact-container h1 {
    margin: 0;
  }
  .contact-area .contact-subcontainer {
    border-radius: none;
    box-shadow: none;
    background-color: #0f0f0f;
    padding: 10px;
    width: inherit;
    height: inherit;
    padding-bottom: 40px;
    gap: 1rem;
  }
  .contact-area .contact-subcontainer .contact__section-1 {
    border-radius: none;
    box-shadow: none;
    background-color: #0f0f0f;
    padding: 10px;
    width: 250px;
    flex-grow: 1;
  }
  .contact-area .contact-subcontainer .contact__section-1__content {
    gap: 2rem;
  }
  .contact-area .contact-subcontainer .contact__section-1__content-text p {
    text-align: center;
  }
  .contact-area .contact-subcontainer .contact__section-1__content-social {
    display: flex;
    justify-content: space-evenly;
  }
  .contact-area .contact-subcontainer .contact__section-1__content-social .icon {
    font-size: 1.5rem;
  }
  .contact-area .contact-subcontainer .contact__section-2 {
    border-radius: none;
    box-shadow: none;
    background-color: #0f0f0f;
    padding: 10px;
    width: 250px;
    flex-grow: 1;
  }
  .contact-subcontainer .contact__section-1 .contact__section-1__content .contact__section-1__content-social .icon {
    font-size: 2.5rem;
  }
}
@media (min-width: 1025px) {
  .about-area p {
    font-size: 1.2rem;
    line-height: 1.3;
    word-spacing: 0.1rem;
  }
  .about-area h1 {
    font-size: 3.5rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .about-area h2 {
    font-size: 2.5rem;
    line-height: 1;
    word-spacing: 0;
  }
  .about-area h3 {
    font-size: 3.1rem;
    line-height: 1;
    word-spacing: 0;
  }
  .about-area .about-subcontainer {
    gap: 6rem;
  }
  .about-area .about-subcontainer .about__text {
    justify-content: flex-start;
    height: 500px;
  }
  .resume-area .resume__experience__description {
    width: 470px;
    padding: 10px 50px;
  }
  .skill-area .skill-container {
    width: 70%;
  }
  .skill-area .skill__overview {
    padding: 70px 0;
    width: 70%;
    gap: 4rem;
  }
  .portfolio-area .portfolio-subcontainer {
    height: 1000px;
    align-content: space-evenly;
    justify-content: space-evenly;
    row-gap: 2rem;
  }
  .portfolio-area .portfolio-subcontainer .portfolio-1, .portfolio-area .portfolio-subcontainer .portfolio-2, .portfolio-area .portfolio-subcontainer .portfolio-3, .portfolio-area .portfolio-subcontainer .portfolio-4, .portfolio-area .portfolio-subcontainer .portfolio-5, .portfolio-area .portfolio-subcontainer .portfolio-6 {
    width: 291px;
  }
  .contact-area .contact-subcontainer .contact__section-1 .contact__section-1__content .contact__section-1__content-social .icon {
    font-size: 3.5rem;
  }
}
@media (min-width: 1346px) {
  .portfolio-area .portfolio-subcontainer {
    height: 1000px;
    align-content: space-evenly;
    justify-content: space-evenly;
    row-gap: 2rem;
  }
  .portfolio-area .portfolio-subcontainer .portfolio-1, .portfolio-area .portfolio-subcontainer .portfolio-2, .portfolio-area .portfolio-subcontainer .portfolio-3, .portfolio-area .portfolio-subcontainer .portfolio-4, .portfolio-area .portfolio-subcontainer .portfolio-5, .portfolio-area .portfolio-subcontainer .portfolio-6 {
    width: 398px;
  }
  .contact-subcontainer .contact__section-1 .contact__section-1__content .contact__section-1__content-social .icon {
    font-size: 4rem;
  }
}
@media (min-width: 1700px) {
  .about-area {
    max-width: 1700px;
  }
  .about-area p {
    font-size: 1.5rem;
    line-height: 1.6;
    word-spacing: 0.1rem;
  }
  .about-area h1 {
    font-size: 4rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .about-area h2 {
    font-size: 2.7rem;
    line-height: 1;
    word-spacing: 0;
  }
  .about-area h3 {
    font-size: 4rem;
    line-height: 1;
    word-spacing: 0;
  }
  .about-area .about-subcontainer .about__text {
    height: 100%;
    align-items: space-between;
  }
  .resume-area {
    max-width: 1700px;
  }
  .resume-area p {
    font-size: 1.3rem;
    line-height: 1.6;
    word-spacing: 0.1rem;
  }
  .resume-area h1 {
    font-size: 4rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .resume-area h2 {
    font-size: 2.2rem;
    line-height: 1;
    word-spacing: 0;
  }
  .resume-area h3 {
    font-size: 3.7rem;
    line-height: 1;
    word-spacing: 0;
  }
  .skill-area {
    max-width: 1700px;
  }
  .skill-area p {
    font-size: 1.3rem;
    line-height: 1.6;
    word-spacing: 0.1rem;
  }
  .skill-area h1 {
    font-size: 4rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .skill-area h2 {
    font-size: 2.2rem;
    line-height: 1;
    word-spacing: 0;
  }
  .skill-area h3 {
    font-size: 3.7rem;
    line-height: 1;
    word-spacing: 0;
  }
  .portfolio-area {
    max-width: 1700px;
  }
  .portfolio-area p {
    font-size: 1.3rem;
    line-height: 1.6;
    word-spacing: 0.1rem;
  }
  .portfolio-area h1 {
    font-size: 4rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .portfolio-area h2 {
    font-size: 2.2rem;
    line-height: 1;
    word-spacing: 0;
  }
  .portfolio-area h3 {
    font-size: 3.7rem;
    line-height: 1;
    word-spacing: 0;
  }
  .contact-area {
    max-width: 1700px;
  }
  .contact-area p {
    font-size: 1.3rem;
    line-height: 1.6;
    word-spacing: 0.1rem;
  }
  .contact-area h1 {
    font-size: 4rem;
    line-height: 1;
    word-spacing: 1rem;
  }
  .contact-area h2 {
    font-size: 2.2rem;
    line-height: 1;
    word-spacing: 0;
  }
  .contact-area h3 {
    font-size: 3.7rem;
    line-height: 1;
    word-spacing: 0;
  }
}/*# sourceMappingURL=style.css.map */